.schedule-page{
	padding: 24rpx 0;
	.header{
		background-color: #FFFFFF;
		border-radius: 16rpx;
		margin-bottom: 24rpx;
	}
	.orderNumber{
		display: flex;
		font-size: 24rpx;
		color: #51555A;
		padding: 0 30rpx 30rpx 30rpx;
		justify-content: flex-end;
		text{
			color: #229BFF;
			margin-left: 10rpx;
		}
	}
	.order-no{
		width: 100%;
		
		display: flex;
		justify-content: space-between;
		line-height: 88rpx;
		padding: 0 30rpx;
		font-size: 28rpx;
		>view{
			&:last-child{
				color: #60656C;
			}
		}
		&.ordern{
			border-top: 1px solid #E9EBEC;
		}
	}
	.starts{
		display: flex;
		justify-content: center;
		padding: 6rpx 0 30rpx 0;
		.text{
			font-size: 40rpx;
		}
		.iconstart{
			display: flex;
			align-items: center;
			flex-direction: initial;
			margin: 0 65rpx;
			.last,.first{
				display: flex;
				align-items: center;
				text{
					width: 9rpx;
					height: 9rpx;
					margin: 0 4rpx;
					border-radius: 50%;
				}
			}
			view{
				&:nth-child(2){
					width: 128rpx;
					height: 40rpx;
					background: #DEEFFF;
					border-radius: 4rpx;
					color: #1F90FF;
					font-size: 24rpx;
					text-align: center;
					line-height: 40rpx;
					margin: 0 10rpx;
				}
				&.exceedText{
					color: #FF3300;
					background: #FFE0D8;
				}
			}
			.icon1{
				background: rgba(31, 144, 255, 0.2);
			}
			.icon2{
				background: rgba(31, 144, 255, 0.45);
			}
			.icon3{
				background: rgba(31, 144, 255, 0.7);
			}
			.icon4{
				background: #1F90FF;
			}
		}
	}
	
	// <view class="starts">
	// 	<view class="text">印刷</view>
	// 	<view class="iconstart">
	// 		<view class="first">
	// 			<text></text>
	// 			<text></text>
	// 			<text></text>
	// 			<text></text>
	// 		</view>
	// 		<view>今天发货</view>
	// 		<view class="last">
	// 			<text></text>
	// 			<text></text>
	// 			<text></text>
	// 			<text></text>
	// 		</view>
	// 	</view>
	// 	<view class="text">发货</view>
	// </view>
	
	.schedule-content{
		width: 100%;
		background-color: #FFFFFF;
		border-radius: 16rpx;
		padding: 24rpx 30rpx;
		margin-bottom: 16rpx;
		.schedule-content-title{
			font-size: 26rpx;
			color: #60656C;
			line-height: 36rpx;
			margin-bottom: 40rpx;
		}
		.schedule-content-list{
			.schedule-content-item{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				margin-bottom: 36rpx;
				&::after{
					content: '';
					position: absolute;
					left: 28rpx;
					bottom: -36rpx;
					width: 1rpx;
					height: 36rpx;
					border-left: 2rpx dashed #DFE0E2;
				}
				&:last-child{
					&:after{
						width: 0;
						height: 0;
					}
				}
				.schedule-item-left{
					line-height: 52rpx;
					display: flex;
					justify-content: flex-start;
					.schedule-num{
						display: inline-block;
						width: 56rpx;
						height: 56rpx;
						font-size: 30rpx;
						text-align: center;
						border-width: 2rpx;
						border-style: solid;
						border-radius: 100%;
						margin-right: 16rpx;
						&.actived{
							border-color: #1F90FF;
						}
						&.active{
							background-color: #1F90FF;
							border-color: #1F90FF;
						}
						&.unActive{
							border-color: #C9CBCF;
						}
						.actived{
							color: #1F90FF;
						}
						.active{
							color: #FFFFFF;
						}
						.unActive{
							color: #93989F;
						}
					}
					.schedule-name{
						font-size: 30rpx;
					}
				}
				.schedule-item-right{
					font-size: 26rpx;
					color: #93989F;
				}
			}
		}
	}
	.schedule-content-info{
		width: 100%;
		background-color: #FFFFFF;
		border-radius: 16rpx;
		padding: 24rpx 30rpx;
		.schedule-content-title{
			font-size: 26rpx;
			color: #60656C;
			line-height: 36rpx;
			margin-bottom: 40rpx;
		}
		.schedule-info-list{
			.info-item{
				&:last-child{
					.iconstart{
						&::after{
							display: none;
						}
					}
				}
				display: flex;
				justify-content: space-between;
				position: relative;
				padding-bottom: 70rpx;
				.time{
					margin-top: 10rpx;
					color: #7D7D7D;
					font-size: 24rpx;
					text{
						margin-right: 6rpx;
						vertical-align: bottom;
						font-size: 24rpx;
					}
				}
				.endStart{
					display: flex;
					box-sizing: border-box;
					justify-content: center;
					align-items: center;
					width: 34rpx;
					height: 34rpx;
					box-sizing: border-box;
					border-radius: 50%;
					background: #C9CBCF;
					text{
						display: block;
						width: 0;
						height: 0;
						border-left: 12rpx solid transparent;
						border-right: 12rpx solid transparent;
						border-top: 16rpx solid white;
					}
					&.active{
						background: white;
						border: 2rpx solid #3195F7;
						text{
							border-bottom: 100px solid  #3195F7;
						}
					}
					&::after{
						content: '';
						position: absolute;
						left: 126rpx;
						top: 30rpx;
						bottom: 0;
						height: 100%;
						border-left: 2rpx solid #D8D8D8;
					}
				}
				.iconstart{
					width: 33rpx;
					height: 33rpx;
					box-sizing: border-box;
					border-radius: 50%;
					// position: relative;
					border: 2rpx solid #C9CBCF;
					background: white;
					display: flex;
					box-sizing: border-box;
					justify-content: center;
					align-items: center;
					&::after{
						content: '';
						position: absolute;
						left: 126rpx;
						top: 30rpx;
						bottom: 0;
						height: 100%;
						border-left: 2rpx solid #D8D8D8;
					}
					text{
						display: block;
						width: 20rpx;
						height: 20rpx;
						background: #C9CBCF;
						border-radius: 10rpx;
					}
					&.started{						
						border: 2rpx solid #3195F7;
						background: white;
						text{
							background: #3195F7;
						}
					}
					&.activeIcon{
						border: 7rpx solid #3195F7;
						background: white;
					}
					&.actived-icon{
						width: 28rpx;
						height: 28rpx;
						background: #3195F7;
					}
				}
				
				&:last-child{
					padding-bottom: 0;
					.info-icon{
						&:after{
							width: 0;
							height: 0;
						}
					}
				}
				.info-time{
					width: 80rpx;
					line-height: 34rpx;
					font-size: 24rpx;
					color: #93989F;
					text-align: right;
					&.active{
						color: #303336;
					}
					
				}
				.info-icon{
					display: block;
					width: 20rpx;
					height: 20rpx;
					position: relative;
					&::after{
						content: '';
						position: absolute;
						left: 8rpx;
						top: 26rpx;
						width: 1rpx;
						height: 110rpx;
						border-left: 1rpx solid #DFE0E2;
					}
					&.iconfont{
						font-size: 20rpx;
					}
					&.actived-icon{
						display: flex;
						align-items: center;
						justify-content: space-around;
						view{
							width: 16rpx;
							height: 16rpx;
							background-color: #DFE0E2;
							border-radius: 100%;
						}
						
					}
				}
				.info-info{
					width: 520rpx;
					font-size: 30rpx;
					line-height: 34rpx;
					color: #93989F;
					word-break: break-all;
					.starte{
						display: flex;
						.name{
							width: 140rpx;
						}
						.satateTxt{
							flex: 1;
							color: #1F90FF;
							display: flex;
							&.exceed{
								color: #FF3300;
								text:last-child{
									background: #FFE0D8;
								}
							}
							.iconfont{
								font-size: 24rpx;
							}
							text:last-child{
								font-size: 20rpx;
								padding: 0 10rpx;
								height: 32rpx;
								background: #DEEFFF;
								margin-left: 10rpx;
								border-radius: 4px;
								text-align: center;
								line-height: 32rpx;
							}
						}
					}
					&.active{
						color: #303336;
					}
				}
			}
		}
	}
		
}